[submodule "StarStudio/vendor/spdlog"]
	path = StarStudio/vendor/spdlog
	url = https://github.com/gabime/spdlog/
[submodule "StarStudio/vendor/GLFW"]
	path = StarStudio/vendor/GLFW
	url = https://github.com/TheCherno/glfw/
[submodule "StarStudio/vendor/imgui"]
	path = StarStudio/vendor/imgui
	url = https://github.com/Kartikkain/imgui/
[submodule "StarStudio/vendor/glm"]
	path = StarStudio/vendor/glm
	url = https://github.com/g-truc/glm
