# Binaries
**/bin/
bin-int/
Intermediates/

# StarEngine files
*.log
*imgui.ini

!StarEditor/imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
StarEngine/vendor/VulkanSDK
StarEditor/assets/cache
scripts/__pycache__

StarEngine/vendor/VulkanSDK/VulkanSDK-1.2.170.0-Installer.exe
vendor/premake/bin/
StarEditor/Resources/Scripts/StarEngine-ScriptCore.dll
StarEditor/Resources/Scripts/StarEngine-ScriptCore.pdb
StarEditor/SandboxProject/Assets/Scripts/Binaries
StarEngine-ScriptCore/StarEngine-ScriptCore.csproj.user
StarEditor/DotNet
StarEditor/SandboxProject/Assets/Scripts/obj
StarEngine-ScriptCore/obj
